parameters:
  - name: displayName
    type: string
    default: 'Run System Tests'
  - name: pool
    type: object
    default:
      vmImage: 'ubuntu-latest'
  - name: container
    type: string
    default: ''
  - name: serviceName
    type: string
    default: ''
  - name: jobName
    type: string
    default: 'verifydeployment'
  - name: dependsOn
    type: object
    default: []
  - name: posUrl
    type: string
    default: ''
  - name: kitchenUrl
    type: string
    default: ''
  - name: orderStatusUrl
    type: string
    default: ''
  - name: testFilter
    type: string
    default: ''
  - name: headedMode
    type: boolean
    default: false

jobs:
  - job: ${{ parameters.jobName }}
    displayName: "${{ parameters.displayName }}"
    pool: ${{ parameters.pool }}
    ${{ if ne(parameters.container, '') }}:
      container: ${{ parameters.container }}
    dependsOn: ${{ parameters.dependsOn }}
    steps:
      - template: ../test/step-runsystemtests.yml
        parameters:
          displayName: 'Execute UI System Tests'
          posUrl: '${{ parameters.posUrl }}'
          kitchenUrl: '${{ parameters.kitchenUrl }}'
          orderStatusUrl: '${{ parameters.orderStatusUrl }}'
          publishVideos: true
          headedMode: ${{ parameters.headedMode }}
          ${{ if ne(parameters.testFilter, '') }}:
            testFilter: '${{ parameters.testFilter }}'

      - template: ../pullrequest/step-setprstatus.yml
        parameters:
          state: 'succeeded'
          description: '${{ parameters.serviceName }} PR Deployment Verified'
          contextName: 'pr-deployment-${{ parameters.serviceName }}'
          genre: 'pr-env'